local.properties
.gradle
.idea
src/binding/*/logs
typeconfig.out.ngtconf
build
target
xcuserdata
firebase/xcode/Pods
facebook/xcode/Pods
google-plus/bin
crashlytics/xcode/Pods
.project
.settings
Podfile.lock
google-signin/xcode/Pods
mopub/xcode/Pods
google-plus/xcode/Pods
google-gpg/xcode/Pods
google-gpg/bin
.classpath
mopub/bin
firebase-auth/xcode/Pods
google-mobile-ads-sdk/binding/logs
google-mobile-ads-sdk/xcode/Pods
google-maps-ios-utils/xcode/Pods
google-maps-ios-utils/binding/logs
google-maps/xcode/Pods
google-maps/binding/logs
